<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
  <meta charset="UTF-8"/>
  <title>Datos de la persona</title>
</head>
<body>
<h1>Datos de la persona</h1>
<a th:href="@{/}">Regresar</a>
<br/>
<form th:action="@{/guardar}" th:object="${persona}" method="post">
<input type="hidden" name="idPersona" th:value="${persona.idPersona}"/>
  <br/>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" th:value="${persona.nombre}"/>
  <br/>
  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" th:value="${persona.apellido}"/>
  <br/>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:value="${persona.email}"/>
  <br/>
  <label for="telefono">Telefono:</label>
  <input type="tel" id="telefono" name="telefono" th:value="${persona.telefono}"/>
  <br/>
  <input type="submit"  name="guardar" value="Guardar"/>
</form>
</body>
</html>